/* HTML-Body */

	body {
		margin: 0;
		padding: 0;
	}

/* Kartenfenster */

	#map_1 {
		position: absolute;
		top: 0;
		width: 50%;
		height: 50%;
	}
	
	#map_2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 50%;
	}
	
	#map_3 {
		position: absolute;
		bottom: 0;
		width: 50%;
		height: 50%;
	}
	
	#map_4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		height: 50%;
	}

/* Fadenkreuze Position */

	.ch-image {
		position: fixed;
		z-index: 1;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}

	#cross_1 {
		left: 25%;
		top: 25%;
	}
	
	#cross_2 {
		left: 75%;
		top: 25%;
	}
	
	#cross_3 {
		left: 25%;
		top: 75%;
	}
	
	#cross_4 {
		left: 75%;
		top: 75%;
	}

/* Suchfunktion */

	.mapboxgl-ctrl-top-right {
		width: auto;
	}

	.mapboxgl-ctrl-geocoder {
		width: 0px;
		height: 30px;
		min-width: 30px;
		max-width: 500px;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

	.mapboxgl-ctrl-geocoder--icon {
		display: inline-block;
		vertical-align: middle;
		speak: none;
		fill: #757575;
		top: 5px;
		left: 5px;
	}
	
	.mapboxgl-ctrl-geocoder--input {
		width: 0px;
		height: 30px;
		max-width: 500px;
		padding-left: 30px;
		padding-right: 0px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}
	
	.mapboxgl-ctrl-geocoder--input:focus {
		width: 500px;
	}
	
	.mapboxgl-ctrl-geocoder--input:focus > .mapboxgl-ctrl-geocoder {
		width: 500px;
	}
	
	.mapboxgl-ctrl-geocoder:focus-within {
		width: 500px;
	}
	
	.mapboxgl-ctrl-geocoder:hover > .mapboxgl-ctrl-geocoder--input {
		width: 500px;
	}
	
	.mapboxgl-ctrl-geocoder:hover {
		width: 100%;
	}
	
/* Vollbild-Menü */

	.overlay {
		height: 0;
		width: 100%;
		position: fixed;
		z-index: 3;
		left: 0;
		bottom: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.3s;
	}
	
	.overlay-content {
		position: relative;
		width: calc(100% - 82px);
		text-align: left;
		margin-top: 10px;
		margin-left: 30px;
		margin-right: 30px;
		display: inline-block;
	}

	.selector {
		position: relative;
		margin-left: 10px;
		display: inline-block;
		transform: translate(-0%, -4px);
	}

	.overlay-label {
		position: relative;
		margin-top: 5px;
		text-decoration: none;
		font-size: 24px;
		color: buttonface;
		display: inline-block;
	}
	
	.layer-label {
		position: relative;
		margin-top: 5px;
		text-decoration: none;
		font-size: 24px;
		color: buttonface;
		display: inline-block;
	}

/* Kartenmenüs */

	.menu_map {
		border: 1px solid buttonface;
		border-radius: 5px;
		position: relative;
		width: 100%;
		padding: 10px;
		margin-top: 20px;
		float: left;
		display: inline-block;
	}
	
	.menu-label {
		position: relative;
		text-decoration: underline;
		font-size: 24px;
		color: buttonface;
		display: inline-block;
	}

/* Deckkraft-Slider */

	.slider-label {
		position: relative;
		margin-left: 10px;
		font-size: 24px;
		color: buttonface;
		display: inline;
	}
	
	.slider {
		background-color: transparent;
		display: inline;
		width: auto;
		margin-left: 20px;
		position: relative;
		cursor: ew-resize;
		transform: translate(-0%, 2px);
	}

/* Anzahl Karten */

	.map-button {
		font-size: 26px;
		cursor: pointer;
		background-color: #111;
		color: buttonface;
		border: none;
		display: inline-block;
		position: relative;
	}
	
	.map-button:hover {
		background-color: #444;
	}
	
	.map-number-label {
		position: relative;
		text-decoration: none;
		font-size: 26px;
		color: buttonface;
		display: inline-block;
	}
	
	.button-box {
		border: 1px solid buttonface;
		border-radius: 5px;
		padding: 9px 10px 8px 10px;
		margin-top: 30px;
		margin-right: 30px;
		display: inline-block;
		float: right;
	}

/* Fadenkreuze */
	
	.ch-dropdown-image {
		cursor: pointer;
		border: 1px solid buttonface;
		border-radius: 5px;
		margin-left: 30px;
		margin-top: 30px;
		padding: 10px;
		float: left;
	}
	
	.ch-dropdown {
		display: block;
		float: left;
	}
	
	.ch-dropdown-content {
		display: none;
		position: absolute;
		margin-top: 77px;
		background-color: #444;
		left: 31px;
		z-index: 3;
	}
	
	.ch-dropdown-content .ch-image:hover {
		background-color: buttonface;
	}
	
	.ch-dropdown:hover .ch-dropdown-content {
		display: block;
	}
	
	.ch-dropdown-content img {
		padding: 10px 10px;
		display: block;
	}

/* Menü-Button */
	.menu-button {
		position: fixed;
		left: 10px;
		bottom: 10px;
		cursor: pointer;
		background-color: #111;
		padding: 5px 10px;
		border: none;
		border-radius: 5px;
		z-index: 4;
		display: inline-block;
	}
	
	.menu-button:hover {
		background-color:#444;
	}
	
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: buttonface;
		margin: 6px 0;
		transition: 0.4s;
	}
	
	/* Erste Linie drehen */
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
		transform: rotate(-45deg) translate(-9px, 6px) ;
	}
	
	/* Zweite Linie ausblenden */
	.change .bar2 {
		opacity: 0;
	}
	
	/* Letzte Linie drehen */
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
		transform: rotate(45deg) translate(-8px, -8px) ;
	}
	
/* Mauszeiger-Position */
	
	#mouse-info {
		visibility: hidden; /* Hidden by default. Visible on click */
		min-width: 250px; /* Set a default minimum width */
		margin-left: -125px; /* Divide value of min-width by 2 */
		background-color: #fff; /* White background color */
		color: #000; /* White text color */
		text-align: center; /* Centered text */
		border-radius: 2px; /* Rounded borders */
		padding: 16px; /* Padding */
		position: fixed; /* Sit on top of the screen */
		left: 50%; /* Center the snackbar */
		bottom: 30px; /* 30px from the bottom */
		z-index: 3;
	}
	
	/* Show the snackbar when clicking on a button (class added with JavaScript) */
	#mouse-info.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
	
	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
	}
	
	@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
	}
	
	@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
	}
	
	@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
	}
